{# *HTML VUE  #}
{# = "SHOW_INVOICE" page (see Figma) #}

{% extends "welcome.html.twig" %}



{% block content %}



    {% for companydata in _context %}
    {{ companydata) }}

                <h2 class="main__section__title main__section__title--company">{{companydata.companies_name}}</h2>

        {% block informations %}
            {% embed 'informations.html.twig' %}
                    
            {% block infotemplate %}
                <div class="contact">
                    <ul class="contact__infos">
                        <li class="contact__info__item"><span class="bold">Name:&nbsp;</span>{{company.companies_name}}</li>
                        <li class="contact__info__item"><span class="bold">TVA:&nbsp;</span>{{company.tva}}</li>
                        <li class="contact__info__item"><span class="bold">Country:&nbsp;</span>{{company.country}}</li>
                        <li class="contact__info__item"><span class="bold">Phone:&nbsp;</span>{{company.companies_phome}}</li>
                    </ul>
                </div>
            {% endblock %}

                {% block contactpic %}
                    <div class="contact__pic">
                        {# <img src=""> #}
                    </div>
                {% endblock %}
                
            {% endembed %}
        {% endblock %}

        {% block companycontact %}
            <section class="main__section">
                <h2 class="main__section__title">Contact persons</h2>
                    <div class="main__section__contacts">
                        {# contains contact cards #}
                        <div class="contact__card">
                            <img class="contact__card__pic">
                            <h3 class="contact__card__name">Bertram<br>Gilfoyle</h3>
                        </div>
                        <div class="contact__card">
                            <img class="contact__card__pic">
                            <h3 class="contact__card__name">Henry<br>George</h3>
                        </div>
                    </div>
            </section>
        {% endblock %}

        {# Import table template: #}
        {% include 'datatabletemplate.html.twig' %}

    {% endfor %}

{% endblock %}