{# *HTML VUE  #}
{# = "SHOW_INVOICE" page (see Figma) #}
{# TODO: update pics variable "src" and "alt"#}
{# TODO: Links to contact + ID #}
{# TODO: custom contacts card container scrowl (js function) #}

{% extends "welcome.html.twig" %}



{% block content %}

    

        {% block informations %}
            {% embed 'informations.html.twig' %}

                {% block sectiontitle %}
                    <h2 class="main__section__title main__section__title--company">{{companies[0].companies_name}}</h2>
                {% endblock %}
                        
                {% block infotemplate %}
                    <div class="contact">
                        <ul class="contact__infos">
                            <li class="contact__info__item"><span class="bold">Name:&nbsp;</span><span class="firstletterup">{{companies[0].companies_name}}</span></li>
                            <li class="contact__info__item"><span class="bold">TVA:&nbsp;</span><span class="tvacapitalize">{{companies[0].tva}}</span></li>
                            <li class="contact__info__item"><span class="bold">Country:&nbsp;</span><span class="firstletterup">{{companies[0].country}}</span></li>
                            <li class="contact__info__item"><span class="bold">Phone:&nbsp;</span>{{companies[0].companies_phone}}</li>
                        </ul>
                    </div>
                {% endblock %}
                
            {% endembed %}
        {% endblock %}

        {% block companycontact %}
            <section class="main__section main__section--companycontacts">
                <h2 class="main__section__title main__section__title--companycontactstitle">Contact persons</h2>

                <div class="main__section__contacts">
                    {# contains contact cards #}

                    {# LOOP through contacts + update pics variable "src" and "alt" #}
                    {% for contact in _context.contacts %}
                        <div class="contact__card">
                            <div class="contact__card__piccontainer">
                                <img src="{{ root }}/assets/img/contactpics/close-up-portrait-handsome-stylish-young-man-standing-profile-turn-head-with-beaming-smile-express-satisfaction-enthusiasm-standing-white-wall-pleased_176420-33957.jpg" class="contactpic" alt="contactpic">
                            </div>
                            <a href="#" class="contact__card__link"><h3 class="contact__card__name">{{contact.contacts_firstname}}<br>{{contact.contacts_name}}</h3></a>
                        </div>
                    {% endfor %}
                </div>
                    
            </section>
        {% endblock %}

        {# Import table template: #}
        {% embed 'datatabletemplate.html.twig' %}

            {% block tabletitlesection %}
                <h2 class="main__section__title main__section__title--companyinvoices">Last invoices</h2>
            {% endblock %}

            {% block tableheadercells %}
                <th scope="col" class="table__header__row__title">Invoice number</th>
                <th scope="col" class="table__header__row__title">Dates</th>
                <th scope="col" class="table__header__row__title">Company</th>
                <th scope="col" class="table__header__row__title">Created at</th>
            {% endblock %}


            {% block tablebodyrows %}

                {% for invoice in _context.invoices %}
                    <tr class="table__body__row">
                        <td scope="col" class="table__body__row__cell">{{invoice.ref}}</td>
                        <td scope="col" class="table__body__row__cell">{{invoice.due_date}}</td>
                        <td scope="col" class="table__body__row__cell">{{invoice.companies_name}}</td>
                        <td scope="col" class="table__body__row__cell">{{invoice.invoices_created_at}}</td>
                    </tr>
                {% endfor %}
            {% endblock %}


        {% endembed %}

{% endblock %}