{# *HTML VUE  #}
{# = "SHOW_CONTACT" page (see Figma) #}
{# TODO: update block contactpic #}

{% extends "welcome.html.twig" %}

{% block content %}

    {% for contacts in _context %}
        <h2 class="main__section__title main__section__title--contact">{{contacts.contacts_name}}</h2>
    
        {% block informations %}

        {% embed 'informations.html.twig' %}
                
            {% block infotemplate %}
                <div class="contact">
                    <ul class="contact__infos">
                        <li class="contact__info__item"><span class="bold">Contact:&nbsp;</span>{{contacts.contacts_name}}</li>
                        <li class="contact__info__item"><span class="bold">Phone:&nbsp;</span>{{contacts.contacts_phone}}</li>
                        <li class="contact__info__item"><span class="bold">Mail:&nbsp;</span>{{contacts.email}}</li>
                        <li class="contact__info__item"><span class="bold">Company:&nbsp;</span>{{contacts.companies_name}}</li>
                    </ul>
                </div>
            {% endblock %}

                {% block contactpic %}
                    <div class="contact__pic">
                        {# <img src=""> #}
                    </div>
                {% endblock %}
                
            {% endembed %}

        {% endblock %}

    {% endfor %}
    

{% endblock %}